@use 'sass:math';
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Creates min-width media queries
/// @param {string} $breakpoint Two(2) character breakpoint name from `$breakpoints` map

@mixin respond-above($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
  @else { // If the breakpoint doesn't exist in the map.
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

/// Creates max-width media queries
/// @param {string} $breakpoint Two(2) character breakpoint name from `$breakpoints` map

@mixin respond-below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    // Write the media query.
    @media (max-width: $breakpoint-value) {
      @content;
    }
  }
  @else { // If the breakpoint doesn't exist in the map.
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

/// Outputs px based font sizes to rems with px fallback
/// @param {number} $size Font size in pixels.  **Do not include the 'px' unit**
/// @param {number} $base [16] Base font size.  Assumes 1rem = 16px.
/// @example scss outputs a font size of 1.125rem with 18px fallback.
///   @include font-size(18); 
/// @output
///   font-size: 18px;<br>
///   font-size: 1.125rem;

@mixin font-size($size, $base: 16) {
  font-size: $size + 0px;
  font-size: math.div($size, $base) * 1rem;
}

/// Saves 3 lines of code by outputting standard code for cover
/// backround images.
/// @example scss
///   div {
///     backround-image: url('/path-to/my-image.png');
///     @include bg-cover;
///   }

@mixin bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}